name: healthpod
description: "Secure storage of Health and Medical Records in your Solid Pod."
publish_to: "none"
version: 0.0.7+3

environment:
  sdk: ">=3.2.3 <4.0.0"

# To automatically upgrade package dependencies:
#
# `flutter pub upgrade --major-versions`.
#
# To see which dependencies have newer versions available:
#
# `flutter pub outdated`.

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2

  file_picker: ^8.1.7
  flutter_launcher_icons: ^0.14.2
  flutter_markdown: ^0.7.3
  markdown_tooltip: ^0.0.2
  path: ^1.9.0
  rdflib: ^0.2.9
  solidpod: ^0.6.4
  universal_io: ^2.2.2
  window_manager: ^0.4.3
  build_runner: ^2.4.14
  url_launcher: ^6.3.1
  editable: ^2.0.0
  http: ^1.2.2
  fl_chart: ^0.70.2
  path_provider: ^2.1.5
  encrypt: ^5.0.3
  integration_test:
    sdk: flutter

dev_dependencies:

  dart_code_metrics:
    git:
      url: https://github.com/anusii/dart-code-metrics.git
      ref: dev

  flutter_test:
    sdk: flutter

  ubuntu_lints: ^0.4.0

dependency_overrides:
  # TODO 20240710 gjw dart-code-metrics DEPENDENCY ON pub_updater PROBLEM
  #
  # If Zheyuan can fix his dart-code-metrics fork this can probably be
  # removed.

  file: ^7.0.0 # Use only if necessary

  # TODO 20240710 gjw solid-auth DEPENDS ON intl-0.19.0
  #
  # This may require Anushka's update. We will want to remove this
  # override asap.

  intl: ^0.19.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.

flutter:
  uses-material-design: true
  assets:
    - assets/images/healthpod_icon.png
    - assets/images/healthpod_image.png
    - assets/images/healthpod_logo.png

# Define launcher icons for all platforms (except Linux) so icons for
# the apps can be automatically updated.
#
# Run `dart run flutter_launcher_icons`

flutter_launcher_icons:
  image_path: "assets/images/healthpod_icon.png"
  android: true
  min_sdk_android: 21
  ios: true
  remove_alpha_ios: true
  background_color_ios: "#ffffff"
  macos:
    generate: true
  web:
    generate: true
    background_color: "#ffffff"
    theme_color: "#ffffff"
  windows:
    generate: true
    icon_size: 48 # min:48, max:256, default: 48
